:root{
  --font: "Teko", sans-serif;
  --color-gray-light: #F5F5F5;
  --dark-grey: #262626;
  --grey: rgba(0, 0, 0, 0.9);
  --color-peliculas: #4c126e;
  --color-series: #c80000;
  --color-documentales: #FFD700;
}

body {
  margin: 0;
  font-family: var(--font);
  background-color: var(--dark-grey);
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}





